body {
    background-color: rgb(32, 32, 32);
    color: white;
    margin:auto;
}
h3 {
    color:rgb(79, 152, 255);
    font-size: 22px;
    text-decoration: none;
}

h3:hover {
    color:rgb(99, 163, 253);
}

.language {
font-size: 10px;
}

#orgs {
    border-radius: 50%;
    width: 10%;
    height: 10%;
}
.visibility {
    background-color: rgb(32, 32, 32);
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 7px;
    text-transform: capitalize;
    text-align: center;
    font-size: 10px;
    height: 20px;
    width: 35px;
    padding-top: 1px;
    margin-top: 6px;
    margin-left: 7px;
}

.repos-display {
    display: inline-flex;
}

.repo-link {
    color:rgb(79, 152, 255);
}
.repo-link:hover {
    color:rgb(136, 186, 255);
}

.repo-language-color {
    border: 1px solid #fff5ab;
    border-radius: 90%;
    color: #f1e05a;
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.main-top {
    margin: 50px;
}
.main {
    margin-left: 50px;
    min-width: 70%;
    background-color: rgb(32, 32, 32);
}
.left-side {
    background-color: rgb(32, 32, 32);
    color: white;
}

.left-side img {
    border-radius: 50%;
}
.join-border {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;

}
header {
    width: 100%;
    background-color: rgb(46, 46, 46);
}
.repo-container {
    padding: 20px;
    background-color: rgb(32, 32, 32);
    width: 100%;
}

.search-repos {
    padding: 10px;
}
.repos-list {
    border-bottom: 1px solid grey;
}
.container {
    max-width: 80%;
    margin: auto;
}

.card-title {
    color: rgb(159, 159, 159);
    padding: 20px;
    font-weight: 300;
    font-size: 23px;
}
.edit-profile {
    width: 100%;
}